<!DOCTYPE html>

<head>
  <title>Style</title>
 </head>

body {
	background-color:lightred;
	margin:20px 20px 20px 20px;
}

h1 {
	font-family:"Times New Roman", Times, serif;
	text-align:center;
}

p {
	font-family:Verdana, Helvetica, sans-serif;
}

ul {
	margin: 25px 25px 25px 25px;
	font-family:"Times New Roman", Times, serif;
	font-size: 20px;
}


ol {
	margin: 25px 25px 25px 25px;
	font-family:"Times New Roman", Times, serif;
	font-size:20px
}
